<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="%DESCRIPTION%">
    <meta name="Keywords" content="%KEYWORDS%">

    <title>%TITLE%</title>

    <!-- Bootstrap core CSS -->
    <link href="<?php echo $subPath; ?>_/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="<?php echo $subPath; ?>_/css/modern-business.css" rel="stylesheet">
    <link href="<?php echo $subPath; ?>_/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="<?php echo $subPath; ?>_/css/styles.css" rel="stylesheet">
    <!--[if IE 8]><link href="<?php echo $subPath; ?>_/css/ie8.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if IE 9]><link href="<?php echo $subPath; ?>_/css/ie9.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Javascript -->
    <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <script type='text/javascript' src="<?php echo $subPath; ?>_/js/css3-mediaqueries.js"></script>
    <script src="<?php echo $subPath; ?>_/js/jquery-1.10.2.js"></script>
     
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>

<body>