<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header" style="width:100%;">

            <div class="row">

               

              <div class="col-lg-3 col-md-3 col-xs-5 navbar-left">
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand" href="<?php echo $subPath; ?>"><img src="<?php echo $subPath; ?>_/img/public/ez_street_asphalt_logo.png" width="108" height="124"></a>
                <!-- <a class="navbar-brand" href="index.php">Modern Business</a> -->
              </div>
              <div class="col-lg-5 col-md-5 col-xs-5 hidden-xs navbar-center">
                      <h3 class="text-center">ORDER NOW</h3>
                      <div class="col-lg-6"><a href="#"><p><span class="fa fa-map-marker"></span> <small>Local Sales Representative</small></p></a></div>
                      <div class="col-lg-6"><a href="#"><p style="margin-bottom: 4px;"><span class="fa fa-phone"></span> <small>0800 33 999 33</small></p></a><a href="mailto:ezstreetasphalt.co.nz"><p style="margin-bottom: 6px;"><span class="fa fa-envelope-o"></span> <small>ezstreetasphalt.co.nz</small></p></a></div>
                      <div class="col-lg-12">
                  <div class="input-group input-group-xs">
                      <input type="text" class="form-control" placeholder="Join our mailing list">
                      <span class="input-group-btn">
                        <button class="btn btn-success" type="button">Join</button>
                      </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-12 -->
                <div class="col-lg-12 visible-lg">
                    <h4 class="text-center">
                    <svg version="1.1" style="width: 16px; height: 12px;"
                       id="svg589" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                       xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="312 234 16 12"
                       enable-background="new 312 234 16 12" xml:space="preserve">
                    <rect id="rect559" x="312" y="234" fill="#003F73" width="16" height="12"/>
                    <polygon fill="#FFCC00" points="328,238.8 318.8,238.8 318.8,234 316.4,234 316.4,238.8 312,238.8 312,241.2 316.4,241.2 316.4,246 
                      318.8,246 318.8,241.2 328,241.2 "/>
                    </svg>
                     Made in New Zealand
                     </h4>
                </div><!-- /.col-lg-12 -->
              </div><!-- /.row -->
              <div class="col-lg-4 col-md-4 col-xs-4 hidden-xs navbar-right">
                <a href="#"><img src="<?php echo $subPath; ?>_/img/public/calculator.png" width="245" height="144" style="float: right;"></a>
              </div>

              <!-- MOBILE -->

              <div class="col-xs-7 visible-xs navbar-mobile">
                <div class="col-xs-9 job-calculator">
                  <small>TRY OUR JOB CALCULATOR</small>
                </div>
                <div class="col-xs-3 icon-calculator">
                  <a href="#"><img src="<?php echo $subPath; ?>_/img/public/icon-calculator.png" width="44" height="49"></a>
                </div>
                <div class="col-xs-12">
                  <h2><span class="fa fa-map-marker"></span><span class="fa fa-phone"></span><span class="fa fa-envelope-o"></span></h2>
                </div>
                <div class="col-xs-12 job-calculator">
                  <div class="input-group input-group-xs">
                    <input type="text" class="form-control" placeholder="Join our mailing list">
                    <span class="input-group-btn">
                      <button class="btn btn-success" type="button">Join</button>
                    </span>
                  </div><!-- /input-group -->
                </div>

              </div>


            </div>

            <div class="col-xs-12 col-xs-12 visible-xs text-center arrow-toggle">
              <h1 class="center-block"><span class="fa fa-angle-up"></span><span class="fa fa-angle-down" style="display:none;"></span></h1>
            </div>

            <a href="<?php echo $subPath; ?>"><img src="<?php echo $subPath; ?>_/img/public/ez_street_asphalt_logo.png" class="small-ezstreet-logo" width="35" height="40"></a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse  navbar-two">
            <ul class="nav navbar-nav">
                <li><a href="<?php echo $subPath; ?>" title="Hem">Hem</a></li>
                <!-- <li><a href="<?php echo $subPath; ?>produkt/produktpresentation/" title="Produkt">Produkt</a></li> -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Entreprenör <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="<?php echo $subPath; ?>produkt/produktpresentation/"><p>Produkt</p><small style="color:#999;">Produktpresentation, Produktfördelar, Produktinformation</small></a></li>
                        <li><a href="<?php echo $subPath; ?>installation"><p>Hur Använder Jag Det?</p><small style="color:#999;">Sopa, Fyll, Packa</small></a></li>
                        <li><a href="<?php echo $subPath; ?>teknisk"><p>Teknisk</p><small style="color:#999;">Allmän produktbeskrivning och användning</small></a></li>
                    </ul>
                </li>
                 <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      DIY <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="<?php echo $subPath; ?>how-much"><p>Hur Mycket Behover Jag?</p><small style="color:#999;">Se vår tabell</small></a></li>
                        <li><a href="<?php echo $subPath; ?>kontakt"><p>Var Kan Jag Få Tag På Det?</p><small style="color:#999;">EZ Street finns hos byggmarknader</small></a></li>
                        <li><a href="<?php echo $subPath; ?>install-video"><p>Instruktions Video</p><small style="color:#999;">"Så lagar du ett potthål" Webbvideo</small></a></li>
                        <li><a href="<?php echo $subPath; ?>faqs"><p>Vanliga Fragor</p><small style="color:#999;">Fråga potthålsexperterna</small></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->


    </div>
    <!-- /.container -->
</nav>

<script>
$( "span.fa-angle-up" ).click(function() {
  $( this ).toggleClass( "" );
  $( this ).css( "display", "none" );
  $( "span.fa-angle-down" ).css( "display", "block" );
  $( ".navbar-header .row" ).css( "display", "none" );
  $( ".navbar" ).css( "min-height", "0" );
  $( ".navbar" ).css( "max-height", "50px" );
  $( ".navbar" ).css( "max-height", "50px" );
  $( ".navbar-toggle" ).css( "margin-top", "8px" );
  $( ".arrow-toggle" ).css( "top", "-20px" );
  $( "body" ).css( "padding-top", "25px" );
  $( ".small-ezstreet-logo" ).css( "display", "block" );
});
$( "span.fa-angle-down" ).click(function() {
  $( this ).css( "display", "none" );
  $( "span.fa-angle-up" ).css( "display", "block" );
  $( ".navbar-header .row" ).css( "display", "block" );
  $( ".navbar" ).css( "min-height", "99px" );
  $( ".navbar" ).css( "max-height", "193px" );
  $( ".navbar-toggle" ).css( "margin-top", "20px" );
  $( ".arrow-toggle" ).css( "top", "122px" );
  $( "body" ).css( "padding-top", "168px" );
  $( ".small-ezstreet-logo" ).css( "display", "none" );
});

</script>